<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="OurPeopleBot" />
    <add key="MicrosoftAppId" value="81097d97-f9d8-4b52-af1f-27676c4c9af0" /><!--81097d97-f9d8-4b52-af1f-27676c4c9af0-->    <!--9cc2493f-d4d0-4732-8b66-ef0b7b59448c-->
    <add key="MicrosoftAppPassword" value="vlcvLATU0}]rbsMFI1242~%" /><!--vlcvLATU0}]rbsMFI1242~%-->     <!--[H$@mQk0CideH7g7-->
    <add key="CarouselTitle" value="title" />
    <add key="CarouselSummary" value="summary" />
    <add key="QnAMakerDefaultMessage" value="Sorry I couldn’t find a good answer to your query. Your question will be reviewed and added in future releases." />
    <add key="QnAMakerAuthKey" value="182ffd0f-dfb4-4e2d-86e4-eed9662b8a70" />      <!--bb775fd1-40a3-4a79-a3cc-0487825f0a89          182ffd0f-dfb4-4e2d-86e4-eed9662b8a70-->
    <add key="QnAMakerKBId" value="2e71d29a-bc2a-4ba2-8495-34a9c24f49f1" /><!--609b81e3-f266-44df-95ee-d85d1ca8dda9    2d31530d-f1dc-4c9e-97dc-fe93a616124f-->
    <add key="QnAMakerEndPoint" value="https://qnaserv.azurewebsites.net/qnamaker" /><!--https://testqnafm.azurewebsites.net/qnamaker-->
    <add key="QnAMakerOcpApimSubscriptionKey" value="48df3bff3039480ca6518ef8dfb2a234" /> <!--b713b429f9e444bbb108b37d0079941a   48df3bff3039480ca6518ef8dfb2a234-->
    <add key="Threshold1" value="100:80" />
    <add key="Threshold2" value="79:40" />
    <add key="Threshold3" value="39:0" />
    <add key="TranslatorTextAPIKey" value="42f95864a40746959795444a50626f06" />
    <add key="TextAnalyticsKey" value="d25306cc3109458e835312560eb5d2b6" />
    <add key="HRHeroImage" value="https://jonazurestorage123.blob.core.windows.net/myimages/OurPeopleDoneS.jpg" />
    <add key="HRHeroText" value="Phone: 847 994 6486 \n Email: ourpeople@popular.com" />
    <add key="HRHeroURL" value="http://apps.popularinc.com/HR_EM_HomePage" />
    <add key="HRHeroTitle" value="HR Service Center" />
    <add key="FeedbackLUISAPIEndPoint" value="https://eastus.api.cognitive.microsoft.com/luis/v2.0/apps/4dcc4eb8-35f3-4e44-9acd-309c3a72d82f?verbose=true&amp;timezoneOffset=-360&amp;subscription-key=b1a521a868fd4d7ca41786f4803d762e&amp;q={0} " />

    <!--<add key="FeedbackLUISAPIEndPoint" value="https://eastus.api.cognitive.microsoft.com/luis/v2.0/apps/4dcc4eb8-35f3-4e44-9acd-309c3a72d82f?verbose=true&timezoneOffset=-360&subscription-key=b1a521a868fd4d7ca41786f4803d762e&q=subscription-key=b1a521a868fd4d7ca41786f4803d762e&amp;q={0}"-->
    <!--https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/4dcc4eb8-35f3-4e44-9acd-309c3a72d82f?verbose=true&amp;timezoneOffset=-360&amp;subscription-key=424d4944cf8d4f038503e5c0e3baa7dc&amp;q={0}-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>